.page-background {
    background-image: url('/images/logo.svg'); /* Make sure path is correct */
    background-position: center;
    background-size: cover; /* or cover if you want it to fill the screen */
    background-attachment:fixed;
    padding: 3rem;
  }

.page-color-background {
    background-color:rgb(127, 163, 186)
}

.spots-grid {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    gap: 1rem;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 1080px
  }
  
  .spot-tile {
    padding: 5px;
    background-color: rgb(252, 252, 252);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 90px 95px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  .spot-tile:hover {
    transform: scale(1.0);
  }
  
  .spot-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  
  .spot-info {
    padding: 0.75rem;
  }
  
  .spot-location {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:400;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;    
  }
  
  .spot-price {
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0.25rem;
  }
  
  .spot-rating {
    text-align:right;
    font-weight:bold;
    font-size: 20px;
  }

