.hidden {
    display: none; 
}

.profile-button {
    background: none;
    border: black;
    border-style: solid;
    border-radius: 50px; 
    padding: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

.profile-button:hover {
    opacity: 1;
}

.profile-dropdown li {
    cursor: pointer;
    padding: 10px;
    list-style: none;
    transition: background-color 0.2s ease;
}

.profile-dropdown li:hover {
    background-color: #f2f2f2;
  }

