/* Mimic Create Spot Form */
.form-page {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .update-form-text {
    align-content: center;
    font-size: 40px;
  }
  
  .update-titles {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .update-paragraph {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .section-one {
    display: flex;
    flex-direction: column;
  }
  
  .update-label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .section-one input,
  .section-one textarea,
  form input,
  form textarea {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .price-input-container {
    display: flex;
    align-items: center;
    gap: 5px; 
    margin-top: 5px;
  }
  
  .update-form-button {
    width: 100%;
    margin-top: 25px;
    background-color: #d32f2f; 
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .update-button:hover {
    background-color: #b71c1c;
  }
  

  .error {
    color: red;
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 0;
  }
  